<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Homepage!</h1>
    <!-- <img src="{{ url_for('static', filename='photos/logo.svg') }}" alt="Profile Picture"> -->
    <img src="{{ url_for('static', filename='photos/pic01.jpg') }}" alt="Profile Picture">

    <p>
        <a href="{{ url_for('youtubeChatAI') }}">Youtube Chat AI</a>
        <a href="https://myportfoliobucket-ogyworld.s3.amazonaws.com/my_portfolio/index.html">Resume</a>
        <!-- <a href="https://www.example.com" target="_blank">External Site</a> -->
    </p>
</body>
</html>
