<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/jobAppAnalyzer/style.css">
    <title>Job Application Analyzer</title>
</head>
<body>
    <div class="container">
        <h1>Job Application Analyzer</h1>
        <form method="post">
            <label for="resume">Your Resume:</label>
            <textarea name="resume" rows="5" placeholder="Paste your resume here..." required></textarea>

            <label for="job_description">Job Description:</label>
            <textarea name="job_description" rows="5" placeholder="Paste the job description here..." required></textarea>

            <button type="submit">Analyze</button>
        </form>

        <!-- {% if score is not none %} -->
            <div class="result">
                <h2>Analysis Result</h2>
                <p>Percentage Match: {{ score }}%</p>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
                <!-- {% if missing_keywords %} -->
                    <p>Top 10 Missing Keywords:</p>
                    <div class="missing-keywords">
                        <div class="keyword-grid">
                            <!-- {% for keyword, count in missing_keywords %} -->
                                <div class="keyword-item">
                                    {{ keyword }} - {{ count }} Occurrences
                                </div>
                            <!-- {% endfor %} -->
                        </div>
                    </div>
                <!-- {% else %}
                    <p>Congratulations! Your resume matches the job description perfectly.</p>
                {% endif %} -->
            </div>
        <!-- {% endif %} -->
    </div>
</body>
</html>
